    html {
        scroll-behavior: smooth;
    }
    *{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }
    @font-face {
        font-family: "fuentemenu";
        src:url(../fonts/Helvetica-Bold.ttf);
        font-weight:bold;
        font-style:bold;
    }
    @font-face {
        font-family:"fuenteparrafo";
        src:url(../fonts/Quicksand_Book.otf);
        font-weight:normal;
        font-style:normal;
    }
    .header {
        display:flex;
        justify-content: space-between; /* Esto alinea el logo a la izquierda y el menú a la derecha */
        align-items: center; /* Alinea verticalmente los elementos */
        width:100vw;
        height:18vh;
        background-color: #d3c2a9;
        padding:10px;
        position:fixed;
        top:0px;
        left:0px;
        z-index: 1000;
    }
    .menu {
        background-color: #d3c2a9;
        font-family: "fuentemenu";
        font-size:40px;
        color: white;
        font-weight:bold;
        border: none;
        cursor:pointer;
        transition: color 0.2s;
        margin:0 25px;
        margin-top:0vh;
    }
    .menu:hover{
        color: #6f5e43;
    }
    #home, #presentacion, #servicios, #horario, #opiniones {
        height: 100vh;
        padding-top: 18vh;
    }

    /* ---------------------------------------------------------------------- */


    #home{
        display:flex;
        width:100vw;
        background-image:url('../images/fondo_home.jpg');
        background-size:cover;
    }
    #contenedor1{
        display:flex;
        flex-direction:column;
        font-family:"fuentemenu";
        width:50vw;
        height:82vh;
        background-color: transparent ;
    }
    #contenedor1 h1{
        color:white;
        font-size:50px;
        margin-left:65px;
        margin-top:65px;
    }
    #contenedor1 ul{
        color:white;
        margin-left: 140px;
        margin-top:20px;
        font-size: 28px;
    }
    #contenedor1 li{
        margin-top:10px;
    }
    #contenedor2{
        display:flex;
        flex-direction:column;
        left:0px;
        width:50vw;
        height:82vh;
        background-color: transparent ;
    }
    #cuadradito{
        width: 200px;
        height: 150px;
        background-image:url('../images/logoago.png');
        background-size:cover;
        display: flex; 
        margin-left:30px;
        margin-top:-25px;
    }

    #contenedor2 p{
        margin-left:140px;
        margin-top:60px;
        margin-right:70px;
        font-size:24px;
        font-family:"fuenteparrafo";
    }
    #contenedor2 #nose{
        margin-left:140px;
        margin-top:35px;
        margin-right:70px;
        font-size:24px;
        font-family:"fuenteparrafo";
    }

    /* ---------------------------------------------------------------------- */

    #presentacion{
        display:flex;
        width:100vw;
        background-color:white;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #presentacion-content{
        display: flex;
        align-items: flex-start;
    }
    #cuadrado{
        width: 450px;
        height: 600px;
        background-color: #d3c2a9;
        position: relative;
        display: flex; 
        align-items: center;
        margin-left: 100px;
        margin-top:80px;
    }
    #cuadrado #imgsalva {
        width: 450px;
        height: 600px;
        position: absolute;
        margin: 0;
        margin-top: 100px;
        margin-left: 50px;
        background-image:url('../images/salva.jpg');
        background-size:cover;
    }
    .pimg-container{
        display: flex;
        flex-direction: column;
        margin-top:150px;
        margin-left: 100px;
        max-width: 450px;
        background-color:transparent;
    }
    .pimg{
        color: #6f5e43;
        font-size: 28px;
        font-family: "fuenteparrafo";
        margin-bottom: 30px;
        margin-right: 130px;
    }
    #linea{
        width:4px;
        height:60vh;
        margin-top:130px;
        background-color:#6f5e43;
    }
    #imgcontacto{
        width: 70px;
        height: 450px;
        background-image:url("../images/iconos-contacto.png");
        background-size:cover;
        margin-left:80px;
        margin-top:200px;
    }
    .redes{
        display:flex;
        color:#6f5e43;
        margin-top:105px;
        margin-left:70px;
        font-family:"fuenteparrafo";
    }
    #tfn{
        margin-top:210px;
    }

    /* ---------------------------------------------------------------------- */

    #servicios {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: white;
        height:200vh;
    }
    .plan {
        position: relative;
        width: 60vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #plan-individual {
        background-image: url('../images/plan-individual.jpg'); /* Ajusta la ruta de la imagen */
        position: relative; /* Necesario para que los elementos hijos con posición absoluta se alineen con respecto a este contenedor */
    }
    
    #plan-individual h1 {
        position: absolute; /* Para posicionarlo en un lugar específico del contenedor */
        top: 80px; /* Ajusta la distancia desde la parte superior del contenedor */
        left: 80px; /* Ajusta la distancia desde el borde derecho del contenedor */
        color: white;
        font-family: "fuentemenu";
        font-size: 52px;
        margin: 0; /* Elimina márgenes predeterminados del h1 */
    }
    #linea-individual{
        position: absolute;
        width:5px;
        height:65vh;
        margin-top:30px;
        left:100px;
        background-color: white;
    }
    #cabeceras {
        display:flex;
        position: absolute;
        flex-direction:column;
        top: 100px; 
        left: 140px; 
    }
    #cabeceras button {
        margin-top:128px;
        text-align:left;
        font-size: 32px;
        font-family: "fuentemenu";
        color:white;
        border: none;
        cursor:pointer;
        transition: color 0.2s;
        background-color:transparent;
    }

    #cabeceras button:hover {
        color: #d3c2a9;
    }

    #plan-grupal {
        background-image: url('../images/plan-grupal.jpg'); /* Ajusta la ruta de la imagen */
    }

    /* ---------------------------------------------------------------------- */

    #horario{
        display:flex;
        width:100vw;
        background-color:white;
    }

    /* ---------------------------------------------------------------------- */

    #opiniones{
        display:flex;
        width:100vw;
        background-color:lightgray;
    }

    /* ---------------------------------------------------------------------- */

    @media (max-width: 768px) {
        .header {
            display: flex;
            flex-direction: column; /* Columna para apilar logo y menú */
            align-items: center;
            justify-content: flex-start;
            width: 100vw;
            height: 15vh;
            background-color: #d3c2a9;
            padding: 10px;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1000;
        }
    
        #cuadradito {
            width: 100px;
            height: 75px;
            background-image: url('../images/logoago.png');
            background-size: cover;
            margin-bottom: 0px; /* Separación entre el logo y el menú */
            margin-top: -20px;
        }
    
        .menu-container {
            display: flex;
            justify-content: space-around; /* Asegura igual espacio entre los botones */
            width: 80%;
        }
    
        .menu {
            flex-grow: 1; /* Hacer que cada botón ocupe el mismo espacio */
            background-color: #d3c2a9;
            font-family: "fuentemenu";
            font-size: 16px;
            color: white;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: color 0.2s;
            margin: 0 4px; /* Menor margen entre los botones */
            margin-top:20px;
            text-align: center; /* Alinear el texto de los botones */
        }
    
        .menu:hover {
            color: #6f5e43;
        }
    
        #contenedor1{
            width:100vw;
            margin-left:-50px;
            margin-top:-60px;
        }
        #contenedor1 h1{
            color:white;
            font-size:24px;
        }
        #contenedor1 ul{
            color:white;
            font-size: 16px;
        }

        #contenedor2{
            display:none;
        }

        #presentacion{
            flex-direction: column;
        }
        #cuadrado{
            width: 200px;
            height: 300px;
            background-color: #d3c2a9;
            position: relative;
            display: flex; 
            align-items: center;
            margin-left: 70px;
            margin-top:-30px;
        }
        #cuadrado #imgsalva {
            width: 200px;
            height: 300px;
            position: absolute;
            margin: 0;
            margin-top: 70px;
            margin-left: 30px;
            background-image:url('../images/salva.jpg');
            background-size:cover;
        }
        .pimg-container{
            display:none;
        }

        #linea{
            width:4px;
            height:20vh;
            margin-top:0px;
            background-color:#6f5e43;
        }

        #imgcontacto{
            display:flex;
            width: 32px;
            height: 205px;
            background-image:url("../images/iconos-contacto.png");
            background-size:cover;
            margin-left:-200px;
            margin-top:300px;
        }
        .redes{
            display:flex;
            color:#6f5e43;
            margin-top:105px;
            margin-left:70px;
            font-family:"fuenteparrafo";
        }
        #tfn{
            margin-top:210px;
        }
        #horario{
            display:none;
        }
    }