    html {
        scroll-behavior: smooth;
    }
    *{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }
    @font-face {
        font-family: "fuentemenu";
        src:url(../fonts/Helvetica-Bold.ttf);
        font-weight:bold;
        font-style:bold;
    }
    @font-face {
        font-family:"fuenteparrafo";
        src:url(../fonts/Quicksand_Book.otf);
        font-weight:normal;
        font-style:normal;
    }
    .hidden {
        display: none; /* Oculta el elemento */
    }

    .slide-in {
        animation: slide-in 0.5s forwards; /* Animación de deslizamiento */
    }

    @keyframes slide-in {
        from {
            transform: translateX(-50px); /* Empieza fuera del área visible a la izquierda */
            opacity: 0; /* Comienza invisible */
        }
        to {
            transform: translateX(0); /* Termina en su posición original */
            opacity: 1; /* Termina visible */
        }
    }
@media (min-width:991px){
    .header {
        display:flex;
        justify-content: space-between; /* Esto alinea el logo a la izquierda y el menú a la derecha */
        align-items: center; /* Alinea verticalmente los elementos */
        width:100vw;
        height:15vh;
        background-color: #d3c2a9;
        padding:1%;
        position:fixed;
        top:0%;
        left:0%;
        z-index: 1000;
    }
    .menu {
        background-color: #d3c2a9;
        font-family: "fuentemenu";
        font-size:1.7vw;
        color: white;
        font-weight:bold;
        border: none;
        cursor:pointer;
        transition: color 0.2s;
        margin:0 25px;
        margin-top:0vh;
    }
    .menu:hover{
        color: #6f5e43;
    }
    #home, #presentacion, #servicios, #horario{
        height: 100vh;
        padding-top: 18vh;
    }
    .header img{
        width: 12vw;
        height: 20vh;
        display: flex;
        margin-left:3vw;
        margin-top:3vh;
    }


    /* ---------------------------------------------------------------------- */


    #home{
        display:flex;
        width:100vw;
        background-image:url('../images/fondo_home.jpg');
        background-size:120vw 100vh;
    }
    #contenedor1{
        display:flex;
        flex-direction:column;
        font-family:"fuentemenu";
        width:50vw;
        height:82vh;
        background-color: transparent ;
    }
    #contenedor1 h1{
        color:white;
        font-size:2vw;
        margin-left:6.5%;
        margin-top:6.5%;
    }
    #contenedor1 ul{
        color:white;
        margin-left: 14%;
        margin-top:30%;
        font-size: 1.5vw;
    }
    #contenedor1 li{
        margin-top:2%;
    }
    #contenedor2{
        display:flex;
        flex-direction:column;
        left:0%;
        width:50vw;
        height:82vh;
        background-color: transparent ;
    }

    #contenedor2 p{
        margin-left:15%;
        margin-top:8%;
        margin-right:7%;
        font-size:1.3vw;
        font-family:"fuenteparrafo";
        color:#6f5e43;
    }
    #contenedor2 #p2{
        margin-left:15%;
        margin-top:3.5%;
        margin-right:7%;
        font-size:1.3vw;
        font-family:"fuenteparrafo";
    }
    #contenedor2 img{
        width:17vw;
        height:15.5vh;
        margin-left:50%;
    }


    /* ---------------------------------------------------------------------- */


    #presentacion {
        display: flex;
        width: 100vw; /* Mantener 100% del ancho de la ventana */
        background-color: white;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box; /* Incluir márgenes y padding en el ancho total */
        padding: 0 2vw; /* Añadir un pequeño padding para evitar que los elementos toquen los bordes */
    }
    
    #presentacion-content {
        display: flex;
        align-items: flex-start;
        width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    }
    #presentacion-content h1{
        margin-top:22%;
    }
    
    #cuadrado {
        width: 23vw; /* Ajuste de ancho para asegurar que no desborde */
        height: 57vh;
        background-color: #d3c2a9;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 2%; /* Reducido para ajustar dentro del 100% */
        margin-top: 14%;
    }
    
    #cuadrado #imgsalva {
        width: 23vw;
        height: 60vh;
        position: absolute;
        margin: 0;
        margin-top: 20%;
        margin-left: 8%;
        background-image: url('../images/salva.jpg');
        background-size: cover;
    }
    
    .pimg-container {
        display: flex;
        flex-direction: column;
        margin-top: 20%;
        margin-left: 5%; /* Ajuste para reducir espacio sobrante */
        max-width: 20vw;
        max-height: 40vh;
        background-color: transparent;
        box-sizing: border-box; /* Asegurar que el margen no desborde */
    }
    
    .pimg {
        color: #6f5e43;
        font-size: 1.32vw;
        font-family: "fuenteparrafo";
        margin-bottom: 5vh;
        margin-right: 0; /* Eliminamos el margen derecho para evitar desbordamientos */
    }
    #nombre{
        display:flex;
        margin-top:75vh;
        margin-left:10vw;
        color: #6f5e43;
        font-size: 1.32vw;
        font-family: "fuenteparrafo";
    }
    #linea-v {
        width: 0.2vw;
        height: 60vh;
        margin-top: 16%;
        margin-left:5%;
        background-color: #6f5e43;
    }
    
    #contacto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40vh;
        margin-left:3vw;
    }
    
    .contacto-item {
        display: flex;
        align-items: center;
        margin-bottom: 4vh; /* Espacio entre cada fila */
    }
    
    .contacto-item img {
        width: 4vw; /* Ajusta el tamaño del ícono */
        height: auto;
        margin-right: 2vw; /* Espacio entre el ícono y el texto */
    }
   .redes{
    border: none;
    cursor:pointer;
    transition: color 0.2s;
    background-color:transparent;
   } 
    .redes a {
        text-decoration: none;
        color: #6f5e43;
        font-family: "fuenteparrafo";
        font-size: 2vw;
        font-weight:bold;
    }
    .redes a:hover {
        color: #d3c2a9;
    }
    
    /* ---------------------------------------------------------------------- */

    #servicios {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: white;
        height:300vh;
    }
    .plan {
        position: relative;
        width: 60vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #plan1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100vw;
        height:100vh;
    }
    #plan-individual {
        background-image: url('../images/plan-individual.jpg');
        position: relative;
        margin-top:-3vh;
    }
    
    #plan-individual h1 {
        position: absolute;
        top: 8%;
        left: 8%;
        color: white;
        font-family: "fuentemenu";
        font-size: 2.5vw;
        margin: 0;
    }
    #linea-individual{
        position: absolute;
        width:0.5%;
        height:50vh;
        margin-top:-20%;
        left:9%;
        background-color: white;
    }
    #cabeceras {
        display:flex;
        position: absolute;
        flex-direction:column;
        top: 12%; 
        left: 13%; 
    }
    #cabeceras button {
        margin-top:10%;
        text-align:left;
        font-size: 1.5vw;
        font-family: "fuenteparrafo";
        color:white;
        font-weight:bold;
        border: none;
        cursor:pointer;
        transition: color 0.2s;
        background-color:transparent;
    }
    #cabeceras button:hover {
        color: #d3c2aa;
    }
    #cabeceras p{
        width:50vh;
        color:white;
        font-family:"fuenteparrafo";
        font-size:1vw;
    }
    #p1{
        height:18vh;
    }
    #enumerados {
        flex: 0 0 30%;
        padding: 1%;
        font-family: "fuenteparrafo";
        font-size: 1.6vw;
        margin-right: 5vw;
        margin-top: 20vh;
        color: #6f5e43;
    }

    #plan2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100vw;
        height:100vh;
    }
    #box {
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        width:40vw;
    }
    #cabecera h1{
        color:#6f5e43;
        font-family:"fuentemenu";
        font-size:2.5vw;
        margin-top:10%;
        margin-left:10%;
        white-space:nowrap;
    }
    .titulo{
        margin-top:15%;
        margin-left:15%;
        font-family:"fuenteparrafo";
        font-size:1.2vw;
        color:#6f5e43;
        font-weight:bold;
    }
    .linea{
        width:18vw;
        height:0.2vh;
        background-color: #6f5e43;
    }
    .programas .parrafo{
        width:30vw;
        margin-top:2%;
        margin-bottom:10%;
        margin-left:15%;
        font-family:"fuenteparrafo";
        font-size:1.2vw;
        color:#6f5e43;
    }

    #plan-grupal {
        background-image: url('../images/plan-grupal.jpg');
        display:flex;
        width:60vw;
        flex-direction:column;
        align-items:flex-start;
    }
    .cuadros {
        border: 2px solid white;
        border-radius: 20px;
        padding: 10px;
        text-align:left;
        color:white;
        width:40vw;
        font-family:"fuenteparrafo";
        margin-left:25%;
        margin-bottom:10%;
    }
    .cuadros h1{
        font-size:2vw;
        margin-top:3vh;
        margin-left:2vw;
        margin-bottom:3vh;
    }
    .cuadros p{
        font-size:1vw;
    }

    #plan-mensual img{
        width:100vw;
        hight:100vh;
        margin-top:-20vh;
    }

    /* ---------------------------------------------------------------------- */

    #horario img{
        display:flex;
        width:100vw;
        hight:auto;
        margin-top:-18vh;
        background-color:white;
    }

    /* ---------------------------------------------------------------------- */

    #opiniones{
        display:flex;
        width:100vw;
        background-color:white;
    }
}

    /* ---------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------- */

    @media (max-width: 768px) {
        .header {
            display:flex;
            flex-direction:column;
            align-items: center; /* Alinea verticalmente los elementos */
            width:100vw;
            height:18vh;
            background-color: #d3c2a9;
            padding:1%;
            position:sticky;
            top:0%;
            left:0%;
            z-index: 1000;
        }
        .menu-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100vw;
            margin-top: -4.3vh;
        }
        .menu-container a {
            text-decoration: none;
        }
        .menu {
            background-color: #d3c2a9;
            font-family: "fuentemenu";
            display:flex;
            font-size:6vw;
            color: white;
            font-weight:bold;
            border: none;
            cursor:pointer;
            transition: color 0.2s;
            margin: 1vh 3vw;
            width: 80%;
            text-align: center;
        }
        .menu:hover{
            color: #6f5e43;
        }
        #home, #presentacion, #servicios {
            height: 100vh;
            padding-top: 18vh;
        }
        .header img{
            width: 28vw;
            height: 16vh;
            display: flex;
            margin-top:-2vh;
        }


        /* ---------------------------------------------------------------------- */
    
    
        #home{
            display:flex;
            flex-direction:column;
            justify-content:center;
            width:100vw;
            background-image:url('../images/fondo_home.jpg');
            background-size:cover;
        }
        #contenedor1{
            display:flex;
            flex-direction:column;
            font-family:"fuentemenu";
            width:100vw;
            height:30vh;
            margin-top:-20vh;
            background-color: transparent ;
        }
        #contenedor1 ul{
            color:white;
            margin-left: 20%;
            margin-top:0%;
            font-size: 4vw;
        }
        #contenedor1 li{
            margin-top:2%;
        }
        #contenedor2{
            display:flex;
            flex-direction:column;
            justify-content:center;
            margin-top:-30%;
            width:100vw;
            height:40vh;
            background-color: transparent ;
        }
    
        #contenedor2 p{
            margin-left:10%;
            margin-right:10%;
            margin-top:4%;
            font-size:4vw;
            font-family:"fuenteparrafo";
            color:white;
            text-align:center;
        }
        #contenedor2 #p2{
            margin-left:15%;
            margin-top:3.5%;
        }
        #contenedor2 img{
            display:flex;
            width:35vw;
            height:8vh;
            margin-left:35vw;
        }
    
    
        /* ---------------------------------------------------------------------- */
    
    
        #presentacion {
            display: flex;
            width: 100vw; /* Mantener 100% del ancho de la ventana */
            background-color: white;
            flex-direction: column;
            box-sizing: border-box; /* Incluir márgenes y padding en el ancho total */
            padding: 0 2vw; /* Añadir un pequeño padding para evitar que los elementos toquen los bordes */
        }
        
        #presentacion-content {
            display: flex;
            flex-direction:column;
            width: 100%;
        }
        
        #cuadrado {
            width: 50vw; /* Ajuste de ancho para asegurar que no desborde */
            height: 30vh;
            background-color: #d3c2a9;
            position: relative;
            display: flex;
            margin-left: 20vw;
            margin-top: 18vh;
        }
        
        #cuadrado #imgsalva {
            width: 50vw;
            height: 30vh;
            position: absolute;
            margin: 0;
            margin-top: 10%;
            margin-left: 8%;
            background-image: url('../images/salva.jpg');
            background-size: cover;
        }
        
        .pimg-container {
            display: flex;
            flex-direction: column;
            margin-top: 20%;
            margin-left: 8vw;
            margin-right: 8vw;
            max-width: 80vw;
            max-height: 20vh;
            background-color: transparent;
            box-sizing: border-box;
        }
        
        .pimg {
            color: #6f5e43;
            font-size: 3.5vw;
            text-align:center;
            font-family: "fuenteparrafo";
            margin-bottom: 1vh;
            margin-right: 0; /* Eliminamos el margen derecho para evitar desbordamientos */
        }
        #nombre{
            display:flex;
            margin-top:34vh;
            margin-left:15vw;
            color: #6f5e43;
            font-size: 4vw;
            font-family: "fuenteparrafo";
        }
        #linea-v {
            display:none;
        }
        
        #contacto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 1vh;
            margin-left:10vw;
        }
        
        .contacto-item {
            display: flex;
            align-items: center;
            margin-bottom: 1vh; /* Espacio entre cada fila */
        }
        
        .contacto-item img {
            width: 10vw; /* Ajusta el tamaño del ícono */
            height: auto;
            margin-right: 2vw; /* Espacio entre el ícono y el texto */
        }
       .redes{
        border: none;
        cursor:pointer;
        transition: color 0.2s;
        background-color:transparent;
       } 
        .redes a {
            text-decoration: none;
            color: #6f5e43;
            font-family: "fuenteparrafo";
            font-size: 5vw;
            font-weight:bold;
        }
        .redes a:hover {
            color: #d3c2a9;
        }
        
        /* ---------------------------------------------------------------------- */
    
        #servicios {
            display: flex;
            flex-direction: column;
            width: 100vw;
            background-color: white;
            height:190vh;
        }
        .plan {
            position: relative;
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #plan1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100vw;
            height:82vh;
        }
        #plan-individual {
            background-image: url('../images/plan-individual.jpg');
            size:cover;
            position: relative;
            margin-top:-3vh;
        }
        
        #plan-individual h1 {
            position: absolute;
            top: 6%;
            left: 8%;
            color: white;
            font-family: "fuentemenu";
            font-size: 6vw;
        }
        #linea-individual{
            position: absolute;
            width:0.5%;
            height:50vh;
            margin-top:11%;
            left:9%;
            background-color: white;
        }
        #cabeceras {
            display:flex;
            position: absolute;
            flex-direction:column;
            top: 7%; 
            left: 13%; 
        }
        #cabeceras button {
            margin-top:11%;
            text-align:left;
            font-size: 3.5vw;
            font-family: "fuenteparrafo";
            color:white;
            font-weight:bold;
            border: none;
            cursor:pointer;
            transition: color 0.2s;
            background-color:transparent;
        }
        #cabeceras button:hover {
            color: #d3c2aa;
        }
        #cabeceras p{
            width:70vw;
            color:white;
            font-family:"fuenteparrafo";
            font-size:2.8vw;
        }
        #p1{
            height:10vh;
            margin-bottom:2vh;
        }
        .hidden{
            display:block;
        }
        #enumerados {
            flex: 0 0 30%;
            padding: 5%;
            font-family: "fuenteparrafo";
            font-size: 5vw;
            text-align:center;            
            margin-top: 0vh;
            color: #6f5e43;
        }
    
        #plan2 {
            display: flex;
            justify-content: space-between;
            flex-direction:column;
            align-items: flex-start;
            width: 100vw;
            height:100vh;
        }
        #box {
            display:flex;
            flex-direction:column;
            width:100vw;
            text-align:center;
        }
        #cabecera h1{
            color:#6f5e43;
            font-family:"fuentemenu";
            font-size:6vw;
            margin-top:10%;
            white-space:nowrap;
        }
        .programas{
            display:flex;
            justify-content:center;
            flex-direction:column;
        }
        .titulo{
            margin-top:5%;
            font-family:"fuenteparrafo";
            font-size:4vw;
            color:#6f5e43;
            font-weight:bold;
        }
        #lineah1{
            width:80vw;
            height:0.2vh;
            background-color: #6f5e43;
        }
        #lineah2{
            width:80vw;
            height:0.2vh;
            background-color: #6f5e43;
            margin-left:20vw;
        }
        .programas .parrafo{
            width:60vw;
            margin-top:2%;
            margin-bottom:5%;
            margin-left:20vw;
            text-align:center;
            font-family:"fuenteparrafo";
            font-size:3vw;
            color:#6f5e43;
        }
    
        #plan-grupal {
            background-image: url('../images/plan-grupal.jpg');
            background-size:140vw;
            display:flex;
            width:100vw;
            height:40vh;
            flex-direction:column;
            margin-bottom:20vh;
        }
        .cuadros {
            border: 2px solid white;
            border-radius: 20px;
            padding: 10px;
            text-align:left;
            color:white;
            width:80vw;
            height:30vh;
            font-family:"fuenteparrafo";
        }
        .cuadros h1{
            font-size:3vw;
            text-align:center;
            margin-top:1.5vh;
            margin-bottom:1.5vh;
        }
    
        #plan-mensual img{
            width:100vw;
            hight:100vh;
            margin-top:-20vh;
        }
    
        /* ---------------------------------------------------------------------- */
    
        #horario img {
            display: flex;
            width: 100%; /* Ajusta el ancho al 100% del contenedor */
            height: auto; /* Ajusta la altura proporcionalmente */
            object-fit: cover; /* Recorta la imagen si es necesario para que cubra el área */
            background-color: white;
            margin-top:15vh;
        }
    
        /* ---------------------------------------------------------------------- */
    
        #opiniones{
            display:flex;
            width:100vw;
            background-color:white;
        }
    }